body {
    color: #333;
    background-color: #eee;

    font-family: 'Fira Code';
    font-variant: small-caps;

    text-align: justify;
}

hr {
    border: 0;
    height: 1px;

    background-image: linear-gradient(to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0)
    );
}

h1, h2, h3 {
    color: #cc584c;
}

h1 {
    text-shadow: 1px 1px #333;
    text-align: center;
}

a, a:visited {
    text-decoration: none !important;
    color: #cc584c;
    font-weight: bold;
}

a:hover {
    text-shadow: 1px 1px 1px gray;
}

.element {
    border-style: solid;
    border-color: #333;
    border-width: 1px;
    border-radius: 5px;

    padding-left: 1em;
    padding-right: 5em;
    padding-top: 1em;
    padding-bottom: 5em;

    background-color: #f8f8f8;
    box-shadow: 2px 2px 5px grey;
}

.source_input {

    display : inline-flex;

    width: 30vw;
    height: 80vh;
    resize: none;
    outline: none;
}


.render_area {
    display : inline-flex;
    width: 30vw;
    height: 80vh;
}

.cheatsheet {

    width: 20vw;

    min-height: 100vh;
}